@font-face {
    font-family: 'actionj';
    src: url('../fonts/actionj.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.sleepsSlidePanelContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* background-color: red; */
    align-items: center;
}

.sleepsPanelHeader {
    max-width: min-content;
    max-height: min-content;
    flex: 1;
    background-color: var(--raspberryPink);
    margin-inline: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-inline: 15px;
    border-radius: 15px;
    border-style: solid;
    border-color: var(--darkCornflowerBlue);
    border-width: 2.5px;
    text-align: center;
    
    color: white;
    font-family: 'actionj';
    font-size: 80px;
    text-shadow: black 2px 3px 3px;
}


.sleepsPanelBody {
    background: linear-gradient(black, black) padding-box,
                linear-gradient(135deg, var(--raspberryPink), var(--blueGrace), var(--mintyGreen)) border-box;
    border: 5px, solid, transparent;
    border-radius: 15px;
    margin-top: 1%;
    padding-bottom: 1%;
}
.sleepsTimeRow {
    display: flex;
    flex-direction: row;

}
.sleepsTimeRow input[type="time"] {
    background-color: var(--blueGrace);
    border-radius: 4px;
    border-width: 2.5px;
    border-color: None;
    border-style: None;
    margin-left: auto;
    margin-right: 40%;
    height: min-content;
    margin-top: auto;
    margin-bottom: auto;
}
.sleepsNumberInput label {
    display: flex;
    flex-direction: column;
}
.sleepsRadioGroup input[type="radio"] {
    accent-color: var(--blueGrace);
}
.sleepsRadioGroup label {
    display: block;
    color: white;
    font-size: 1rem;
    text-shadow: var(--blueGrace) 2px 2px 3px;
}
.sleepsRadioGroup label:hover {
    transform: scale(1.25) translateX(20px);
    transition: transform 0.3s ease-in-out;
}
.sleepsTimeGroup input[type="datetime-local"] {
    background-color: var(--blueGrace);
    border-radius: 4px;
    border-width: 2.5px;
    border-color: None;
    border-style: None;
    width: min-content;
    margin-left: 10%;
}

.sleepsP {
    margin-left: 5%;
    color: white;
    text-shadow: var(--blueGrace) 2px 2px 3px;
}
