@font-face {
    font-family: 'actionj';
    src: url('../fonts/actionj.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.calendarPanelHeader {
    max-width: min-content;
    max-height: min-content;
    flex: 1;
    background-color: var(--raspberryPink);
    margin-inline: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-inline: 15px;
    border-radius: 15px;
    border-style: solid;
    border-color: var(--darkCornflowerBlue);
    border-width: 2.5px;
    text-align: center;
    
    color: white;
    font-family: 'actionj';
    font-size: 80px;
    text-shadow: black 2px 3px 3px;
}
.calendarContainer {
    padding: 2rem;
}
.marked {
    position: relative;
}
.marked::after {
    content: '';
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
    width: 6px;
    height: 6px;
    background-color: red;
    border-radius: 50%;
}
.react-calendar__tile abbr {
    position: absolute;
    top: 2px;
    left: 5px;
    font-weight: bold;
    font-size: 0.75rem;
}
.react-calendar__tile {
    position: relative;
    width: 5rem;
    height: 7rem;
    background-color: black;
    border: 1.5px solid #ddd;
    transition: border-color 0.2s ease;
    box-sizing: border-box;
    color: white;
    overflow: hidden;
}
.react-calendar__tile::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 17%;
    background: linear-gradient(to right, var(--raspberryPink), white);
    pointer-events: none;
    z-index: 0;
}
.react-calendar__tile:hover {
    border-color: #00adf5;
}
.react-calendar__tile--active {
    background-color: rgba(0, 0, 0, 0.125);
}
/* .react-calendar__tile--now {
    background-color: var(--blueGrace);
} */
.react-calendar__month-view__days__day--neighboringMonth {
    color: gray;
    background-color: rgba(0, 0, 0, 0.5);
}
.react-calendar__navigation {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.react-calendar__navigation button {
    background: none;
    border: none;
    font-size: 1.2rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: color 0.2s ease;
}
.react-calendar__navigation button:hover {
    
}
.react-calendar__month-view__weekdays {
    border-bottom: 1px solid black;
    text-align: center;
    font-family: 'Inter', sans-serif;
    margin-bottom: 0.5rem;
}
.react-calendar__month-view__weekdays__weekday {
    padding: 0.5rem 0;
    font-style: none;
}
.react-calendar__month-view__weekdays__weekday abbr {
    text-decoration: none;
}

