@font-face {
    font-family: 'actionj';
    src: url('../fonts/actionj.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.feedingsSlidePanelContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* background-color: red; */
    align-items: center;
}

.feedingsPanelHeader {
    max-width: min-content;
    max-height: min-content;
    flex: 1;
    background-color: var(--raspberryPink);
    margin-inline: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-inline: 15px;
    border-radius: 15px;
    border-style: solid;
    border-color: var(--darkCornflowerBlue);
    border-width: 2.5px;
    text-align: center;
    
    color: white;
    font-family: 'actionj';
    font-size: 80px;
    text-shadow: black 2px 3px 3px;
}


.feedingsPanelBody {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap;
    
    /* background-color: red; */
}
.feedingsAddSection {
    display: none;
    background: linear-gradient(135deg, var(--raspberryPink), var(--blueGrace), var(--mintyGreen)) border-box;
    border: 1px, solid, black;
    border-radius: 15px;
    padding-bottom: 3%;
}
.feedingsAddSection.visible {
    display: unset;
}
.feedingsButtonsRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1rem;
    gap: 1rem;
}
.feedingsButton {
    border: 1px solid black;
    border-radius: 1rem;
    padding: 0.25rem;
    padding-inline: 1rem;
    background-color: var(--blueGrace);
    color: black;
}
.feedingsButton:active {
    background-color: var(--raspberryPink);
}

.feedingsNumberInput input[type="number"] {
    background-color: var(--blueGrace);
    border-radius: 4px;
    border-width: 2.5px;
    border-color: None;
    border-style: None;
    width: 35%;
    margin-left: 5%;
}
.feedingsNumberInput label {
    display: flex;
    flex-direction: column;
}
.feedingsRadioGroup input[type="radio"]:checked{
    accent-color: var(--blueGrace);
}
.feedingsRadioGroup label {
    display: block;
    color: white;
    font-size: 1rem;
    text-shadow: var(--blueGrace) 2px 2px 3px;
}
.feedingsRadioGroup label:hover {
    transform: scale(1.25) translateX(20px);
    transition: transform 0.3s ease-in-out;
}
.feedingsTimeGroup input[type="datetime-local"] {
    background-color: var(--blueGrace);
    border-radius: 4px;
    border-width: 2.5px;
    border-color: None;
    border-style: None;
    width: min-content;
    margin-left: 10%;
}


.feedingsP {
    margin-left: 5%;
    color: white;
    text-shadow: var(--blueGrace) 2px 2px 3px;
}

.feedingsEntryList {
    background-color: black;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem 1.5rem;
    max-width: 600px;
    margin: 2rem auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}
.feedingsEntryList ul {
    list-style-type: none;
    overflow-y: auto;
    font-family: sans-serif;
    max-height: 530px;
    padding: 0;
    margin: 0;
}
.feedingsEntryList ul::-webkit-scrollbar {
    width: 10px;
}
.feedingsEntryList ul::-webkit-scrollbar-track {
    background-color: var(--blueGrace);
    border-radius: 4px;
}
.feedingsEntryList ul::-webkit-scrollbar-thumb {
    background-color: var(--raspberryPink);
    border-radius: 4px;
    border: 2px solid var(--blueGrace);
}
.feedingsEntryList ul::-webkit-scrollbar-thumb:hover {
    background-color: var(--mintyGreen);
}

.feedingsEntryItem {
    padding: 0.75rem 0.5rem;
    border-bottom: 1px solid #eee;
    font-size: 0.95rem;
    color: var(--mintyGreen);
    line-height: 1.4;
    margin-right: 5px;
    overflow-wrap: anywhere;
}
.feedingsEntryItem > strong {
    font-weight: 600;
    color: #ccc;
    text-shadow: 1px 1px 2px black;
}
.feedingsEntryItem:last-child {
    border-bottom: none;
}
.feedingsEntryItem:nth-child(odd) {
    color: var(--blueGrace);
    background-color: rgba(255, 155, 205, 0.5);
    text-shadow: 1px 1px 2px black;
}
.feedingsEntryItem:nth-child(even) {
    color: var(--raspberryPink);
    background-color: rgba(111, 157, 224, 0.5);
    text-shadow: 1px 1px 2px black;
}
.feedingsEntryItem:first-child {
    border-radius: 1rem 1rem 0 0;
}
.feedingsEntryItem:last-child {
    border-radius: 0 0 1rem 1rem;
}

@media (max-width: 500px) {
    .feedingsSlidePanelContent {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
    }

    .feedingsPanelHeader {
        width: 100%;
        max-height: min-content;
        flex: 1;
        background-color: var(--raspberryPink);
        margin-top: 2%;
        margin-bottom: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-inline: 15px;
        border-radius: 15px;
        border-style: solid;
        border-color: var(--darkCornflowerBlue);
        border-width: 2.5px;
        text-align: center;
        
        color: white;
        font-size: 3rem;
        text-shadow: black 2px 3px 3px;
    }
    .feedingsAddSection {
        width: max-content;
        background: linear-gradient(135deg, var(--raspberryPink), var(--blueGrace), var(--mintyGreen)) border-box;
        border: 2px solid black;
        padding-inline: 0.75rem;
    }


    .feedingsPanelBody {
        display: flex;
        gap: 2rem;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
    }

    .feedingsNumberInput input[type="number"] {
        background-color: var(--blueGrace);
        border-radius: 4px;
        border: 1px solid black;
        width: 35%;
        margin-left: 5%;
    }
    .feedingsNumberInput input::placeholder {
        color: black;
    }
    .feedingsNumberInput label {
        display: flex;
        flex-direction: column;
    }
    .feedingsRadioGroup input[type="radio"] {
        accent-color: var(--blueGrace);
    }
    .feedingsRadioGroup label {
        display: block;
        color: white;
        font-size: 1rem;
        text-shadow: black 2px 2px 3px;
    }
    .feedingsRadioGroup label:hover {
        transform: scale(1.25) translateX(20px);
        transition: transform 0.3s ease-in-out;
    }
    .feedingsTimeGroup input[type="datetime-local"] {
        background-color: var(--blueGrace);
        border-radius: 4px;
        border: 1px solid black;
        width: min-content;
        margin-left: 5%;
    }

    .feedingsP {
        margin-left: 5%;
        color: white;
        text-shadow: black 2px 2px 3px;
    }

    .feedingsEntryList {
        background-color: black;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 1rem 1.5rem;
        margin: 0.5rem;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .feedingsEntryList ul {
        overflow-y: auto;
        max-height: 500px;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .feedingsEntryItem {
        padding: 0.75rem 0.5rem;
    }
    .feedingsEntryItem > strong {
        font-weight: 600;
    }
    .feedingsEntryItem:last-child {
        border-bottom: none;
    }
}