@font-face {
    font-family: 'actionj';
    src: url('../fonts/actionj.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.injurySlidePanelContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* background-color: red; */
    align-items: center;
}

.injuryPanelHeader {
    max-width: max-content;
    max-height: min-content;
    flex: 1;
    background-color: var(--raspberryPink);
    margin-inline: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-inline: 15px;
    border-radius: 15px;
    border-style: solid;
    border-color: var(--darkCornflowerBlue);
    border-width: 2.5px;
    text-align: center;
    
    color: white;
    font-family: 'actionj';
    font-size: 80px;
    text-shadow: black 2px 3px 3px;
}

.injuryPanelBody {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap;
}
.injuryAddSection {
    display: none;
    background: linear-gradient(135deg, var(--raspberryPink), var(--blueGrace), var(--mintyGreen)) border-box;
    border: 1px, solid, black;
    border-radius: 15px;
    padding-bottom: 3%;
    width: 17rem;
}
.injuryAddSection.visible {
    display: unset;
}
.injuryButtonsRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1rem;
    gap: 1rem;
}
.injuryButton {
    border: 1px solid black;
    border-radius: 1rem;
    padding: 0.25rem;
    padding-inline: 1rem;
    background-color: var(--blueGrace);
    color: black;
}
.injuryButton:active {
    background-color: var(--raspberryPink);
}
.injuryIconsRow {
    display: flex;
    flex-direction: row;
    gap: 2%;
    padding-inline: 1%;
}
.injuryTimeRow {
    display: flex;
    flex-direction: row;

}
.injuryPanelBody input[type="text"]{
    background-color: var(--blueGrace);
    border-radius: 4px;
    border: 1px solid black;
    margin-left: 5%;
    width: 15rem;
    height: 3rem;

}
.injuryPanelBody input[type="datetime-local"] {
    background-color: var(--blueGrace);
    border-radius: 4px;
    border-width: 2.5px;
    border-color: None;
    border-style: None;
    margin-left: 5%;
    height: min-content;
}

.injuryP {
    margin-left: 5%;
    color: white;
    text-shadow: var(--blueGrace) 2px 2px 3px;
}
.injuryEntryList {
    background-color: black;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem 1.5rem;
    max-width: 600px;
    margin: 2rem auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}
.injuryEntryList ul {
    list-style-type: none;
    overflow-y: auto;
    font-family: sans-serif;
    max-height: 530px;
    padding: 0;
    margin: 0;
}
.injuryEntryList ul::-webkit-scrollbar {
    width: 10px;
}
.injuryEntryList ul::-webkit-scrollbar-track {
    background-color: var(--blueGrace);
    border-radius: 4px;
}
.injuryEntryList ul::-webkit-scrollbar-thumb {
    background-color: var(--raspberryPink);
    border-radius: 4px;
    border: 2px solid var(--blueGrace);
}
.injuryEntryList ul::-webkit-scrollbar-thumb:hover {
    background-color: var(--mintyGreen);
}

.injuryEntryItem {
    padding: 0.75rem 0.5rem;
    border-bottom: 1px solid #eee;
    font-size: 0.95rem;
    color: var(--mintyGreen);
    line-height: 1.4;
    margin-right: 5px;
}
.injuryEntryItem > strong {
    font-weight: 600;
    color: #ccc;
    text-shadow: 1px 1px 2px black;
}
.injuryEntryItem:last-child {
    border-bottom: none;
}
.injuryEntryItem:nth-child(odd) {
    color: var(--blueGrace);
    background-color: rgba(255, 155, 205, 0.5);
    text-shadow: 1px 1px 2px black;
}
.injuryEntryItem:nth-child(even) {
    color: var(--raspberryPink);
    background-color: rgba(111, 157, 224, 0.5);
    text-shadow: 1px 1px 2px black;
}
.injuryEntryItem:first-child {
    border-radius: 1rem 1rem 0 0;
}
.injuryEntryItem:last-child {
    border-radius: 0 0 1rem 1rem;
}