@font-face {
    font-family: 'actionj';
    src: url('../fonts/actionj.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.sleepsSlidePanelContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* background-color: red; */
    align-items: center;
}

.sleepsPanelHeader {
    max-width: min-content;
    max-height: min-content;
    flex: 1;
    background-color: var(--raspberryPink);
    margin-inline: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-inline: 15px;
    border-radius: 15px;
    border-style: solid;
    border-color: var(--darkCornflowerBlue);
    border-width: 2.5px;
    text-align: center;
    
    color: white;
    font-family: 'actionj';
    font-size: 80px;
    text-shadow: black 2px 3px 3px;
}
.sleepsAddSection {
    display: none;
    background: linear-gradient(135deg, var(--raspberryPink), var(--blueGrace), var(--mintyGreen)) border-box;
    border: 1px solid black;
    border-radius: 15px;
    padding-bottom: 0.75rem;
    padding-inline: 1rem;
}
.sleepsAddSection.visible {
    display: unset;
}
.sleepsButtonsRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1rem;
    gap: 1rem;
}
.sleepsButton {
    border: 1px solid black;
    border-radius: 1rem;
    padding: 0.25rem;
    padding-inline: 1rem;
    background-color: var(--blueGrace);
    color: black;
}
.sleepsButton:active {
    background-color: var(--raspberryPink);
}

.sleepsPanelBody {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap;
}
.sleepsTimeRow {
    display: flex;
    flex-direction: row;

}
.sleepsTimeRow input[type="time"] {
    background-color: var(--blueGrace);
    border-radius: 4px;
    border: 1px solid black;
    margin-inline: auto;
    height: min-content;
    margin-top: auto;
    margin-bottom: auto;
}
.sleepsNumberInput label {
    display: flex;
    flex-direction: column;
}
.sleepsRadioGroup input[type="radio"] {
    accent-color: var(--blueGrace);
}
.sleepsRadioGroup label {
    display: block;
    color: white;
    font-size: 1rem;
    text-shadow: var(--blueGrace) 2px 2px 3px;
}
.sleepsRadioGroup label:hover {
    transform: scale(1.25) translateX(20px);
    transition: transform 0.3s ease-in-out;
}
.sleepsTimeGroup input[type="datetime-local"] {
    background-color: var(--blueGrace);
    border-radius: 4px;
    border: 1px solid black;
    width: min-content;
    margin-left: 5%;

}

.sleepsP {
    margin-left: 5%;
    color: white;
    text-shadow: var(--blueGrace) 2px 2px 3px;
}

.sleepsEntryList {
    background-color: black;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem 1.5rem;
    max-width: 600px;
    margin: 2rem auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}
.sleepsEntryList ul {
    overflow-y: auto;
    max-height: 530px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.sleepsEntryList ul::-webkit-scrollbar {
    width: 10px;
}
.sleepsEntryList ul::-webkit-scrollbar-track {
    background-color: var(--blueGrace);
    border-radius: 4px;
}
.sleepsEntryList ul::-webkit-scrollbar-thumb {
    background-color: var(--raspberryPink);
    border-radius: 4px;
    border: 2px solid var(--blueGrace);
}
.sleepsEntryList ul::-webkit-scrollbar-thumb:hover {
    background-color: var(--mintyGreen);
}

.sleepsEntryItem {
    padding: 0.75rem 0.5rem;
    border-bottom: 1px solid var(--raspberryPink);
    font-size: 0.95rem;
    color: var(--mintyGreen);
    line-height: 1.4;
    margin-right: 5px;
}
.sleepsEntryItem > strong {
    font-weight: 600;
    color: var(--blueGrace);
}
.sleepsEntryItem:last-child {
    border-bottom: none;
}
.sleepsEntryItem:nth-child(1n) {
    color: #ffd6e3;
    background-color: rgba(231, 70, 89, 0.5);
}
.sleepsEntryItem:nth-child(2n) {
    color: #dcebff;
    background-color: rgba(111, 157, 224, 0.5);
}
.sleepsEntryItem:first-child {
    color: #dcebff;
    background-color: rgba(255, 155, 205, 0.5);
    border-radius: 1rem 1rem 0 0;
}
.sleepsEntryItem:last-child {
    /* background-color: rgba(50, 50, 50, 0.5) */
    color: #ff9bcd;
    background-color: rgba(90, 231, 172, 0.5);
    border-radius: 0 0 1rem 1rem;
}
@media (max-width: 500px) {
.sleepsAddSection {
    width: max-content;
    background: linear-gradient(135deg, var(--raspberryPink), var(--blueGrace), var(--mintyGreen)) border-box;
    border: 2px solid black;
    padding-inline: 0.75rem;
}
}