@font-face {
    font-family: 'actionj';
    src: url('../fonts/actionj.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


:root {
  /* Global Colors */         /* None of these RGB values are correct anymore (Need to fix)*/
  --raspberryPink: #E74689; /* RGB = 231, 70, 89 */
  --mintyGreen: #46E7AC; /* RGB = 70, 231, 172 */
  --blueGrace: #6f9de0; /* RGB = 111, 157, 224 */
  --darkCornflowerBlue: #496793; /* RGB = 73, 103, 147 */
  --blushPetal: #FFB6C1; /* RGB = 255, 182, 193 */
  --testPink: #ff4d7f; /* RGB = 255, 77, 127 */
 
}
html, body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(135deg, var(--mintyGreen), var(--blueGrace), var(--raspberryPink));
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#wrapper {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(135deg, var(--mintyGreen), var(--blueGrace), var(--raspberryPink));
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

#pictureContainer {
  background-color: black;
  width: 50vw;
  height: 70vh;
}

#tabsContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-inline: auto;
  /* background-color: green; */
  width: 60%;
  /* background-color: var(--raspberryPink);
  border-radius: 15px;
  border-style: solid;
  border-color: var(--darkCornflowerBlue);
  border-width: 5px; */

}

#leftSide {
  flex: 1;
  height: 95vh;
  display: flex;
  flex-direction: column;
}

#rightSide {
  position: relative;
  flex: 2;
  height: 95vh;
  background-image: linear-gradient(225deg, var(--mintyGreen), var(--blueGrace), var(--raspberryPink)); 
  /* #fff8f3 */
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-left-style: solid;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: var(--darkCornflowerBlue);
  border-width: 2.5px;
}

.tabRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 22%;
  /* border: #e74646 2px solid; */
}

/* .addPanel {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transform: translateX(100%);
  transition: tranform 0.5s ease-in-out;
  z-index: 1001;
}
.addPanel.visible {
  transform: translateX(0%);
} */

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.75) !important;
  z-index: 9999 !important;
  width: 66.75%;
  height: 95%;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.modalNotReadyYet {
  position: absolute;
  background-color: var(--blueGrace);
  border: 5px groove var(--raspberryPink);
  text-align: center;
  width: 25%;
  top: 40%;
  left: 40%;
}

@media (max-width: 500px) {
  html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
  }
  #wrapper {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(135deg, var(--mintyGreen), var(--blueGrace), var(--raspberryPink));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }


  #tabsContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.5rem;
    margin-inline: auto;
    /* background-color: green; */
    width: 95vw;
    max-height: 75%;
    /* background-color: var(--raspberryPink);
    border-radius: 15px;
    border-style: solid;
    border-color: var(--darkCornflowerBlue);
    border-width: 5px; */
    overflow: hidden;

  }

  #leftSide {
    flex: 1;
    height: 95vh;
    display: flex;
    flex-direction: column;
  }

  #rightSide {
    all: unset;
    /* position: absolute;
    top: 15vh;
    left: 2vw;
    flex: 2;
    height: 75vh;
    width: 95vw;
    background-image: none;
    border-style: solid;
    border-radius: 1rem;
    border-color: var(--darkCornflowerBlue);
    border-width: 2.5px; */
  }

  .tabRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 22%;
    /* border: #e74646 2px solid; */
    width: 80vw;
  }
}







